<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329075996498-3p1p61lcq8egj2vi1iuic6c9me4parpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329075996498-3p1p61lcq8egj2vi1iuic6c9me4parpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329075996498-69429grcrs9ib9pikaj8gueqvofmd2vb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn1JKCl1elI4s68X5CVg47toFSDPckAeA</string>
	<key>GCM_SENDER_ID</key>
	<string>329075996498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invent.autoparts.autoparts</string>
	<key>PROJECT_ID</key>
	<string>buy-and-bee</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-and-bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329075996498:ios:b3da9a9f65ef78558eac8b</string>
</dict>
</plist>